In [2]:
import numpy as np
import pandas as pd
import netCDF4
from netCDF4 import Dataset
from netCDF4 import MFDataset
import datetime
from pathlib import Path
import xarray as xr

In [4]:
merra = xr.open_mfdataset('D:/Codes/IIA Project/Project Data/1.MERRA-2/*SUB.nc')

In [5]:
merra = merra.to_dataframe()

In [8]:
# Do merra.reset_index() to make lat, long and time as columns of the dataframe and change multiindex to single imndex

In [6]:
merra = merra.reset_index()

In [7]:
merra.head(5)

    lat     lon                time         PBLH
0  32.5  78.125 1980-01-01 00:30:00   632.503418
1  32.5  78.125 1980-01-01 01:30:00  1109.745239
2  32.5  78.125 1980-01-01 02:30:00  2237.738281
3  32.5  78.125 1980-01-01 03:30:00  2224.764893
4  32.5  78.125 1980-01-01 04:30:00  2078.818359

In [45]:
#merra['han'] = ((merra.PBLH[(merra['lat'] == 32.75) & (merra['lon'] == 78.75)])*0.0625) + ((merra.PBLH[(merra['lat'] == 32.75) & (merra['lon'] == 79.0625)]*0.25))/(0.0625+0.25)

In [1]:
type(merra.pblh)

NameError: name 'merra' is not defined

In [8]:
han_1 = ((merra.PBLH[(merra['lat'] == 32.75) & (merra['lon'] == 78.75)])*0.0625).values
han_2 = ((merra.PBLH[(merra['lat'] == 32.75) & (merra['lon'] == 79.0625)]*0.25)).values
division_factor_for_interpolation = 0.0625 + 0.25

In [9]:
mer_1 = ((merra.PBLH[(merra['lat'] == 33.75) & (merra['lon'] == 78.4375)])*0.25).values
mer_2 = ((merra.PBLH[(merra['lat'] == 33.75) & (merra['lon'] == 78.75)]*0.0625)).values
division_factor_for_interpolation = 0.0625 + 0.25

In [10]:
interpolated_han_79_E = np.add(han_1, han_2)/division_factor_for_interpolation
interpolated_mer_78_dot_5_E = np.add(mer_1, mer_2)/division_factor_for_interpolation

In [12]:
time = merra['time'].unique()
#unique attribute gives unique items from pd series in the same order

In [13]:
final = pd.DataFrame(columns=['time','han_pblh_mts','mer_pblh_mts'],index = range(0,time.shape[0]))

In [14]:
final['time'] = time
final['han_pblh_mts'] = interpolated_han_79_E
final['mer_pblh_mts'] = interpolated_mer_78_dot_5_E

In [15]:
final.head(10)

                 time  han_pblh_mts  mer_pblh_mts
0 1980-01-01 00:30:00   1036.853394   1014.353394
1 1980-01-01 01:30:00    693.095337    980.920227
2 1980-01-01 02:30:00   1593.738159   1376.788208
3 1980-01-01 03:30:00   2704.864746   2071.464844
4 1980-01-01 04:30:00   2684.118408   2506.818359
5 1980-01-01 05:30:00   2541.587158   2717.687012
6 1980-01-01 06:30:00   2603.247314   2804.347168
7 1980-01-01 07:30:00   2771.693848   2825.493896
8 1980-01-01 08:30:00   2576.037598   2767.937500
9 1980-01-01 09:30:00   2440.382324   2309.582275

In [16]:
final.to_csv('merra_final.csv',index = False)